<%= image_tag('northern-lights.jpg') %>

<div class='foreground-text'>
  <h1 align='center'>
    The Bifrost Environmental and Remediation Services Website is Currently Under Construction
  </h1>
</div>
