<%= image_tag("northern-lights.jpg") %>

<div class="foreground-text col-xs-12">
  <h1 align="center">
    The Bifrost Environmental and Remediation Services Website is Currently Under Construction
  </h1>
</div>


