<nav>
  <%= link_to image_tag('bifrost-logo.jpg'), '/home', class: 'brand' %>

  <input id='trigger' type='checkbox'>

  <label for='trigger' id='nav-toggle'>
    <span></span>
  </label>

  <div class='link-container'>
    <ul>
      <li>
        <a href='/about'>
          About Us
        </a>
      </li>
      <li>
        <a href='/services'>
          Services
        </a>
      </li>
      <li>
        <a href='/staff'>
          Staff
        </a>
      </li>
      <li>
        <a href='/newsroom'>
          Newsroom
        </a>
      </li>
      <li>
        <a href='/contact'>
          Contact Us
        </a>
      </li>
    </ul>
  </div>
</nav>
